body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.header-first{
    background-color: orange;
    display: flex;
     
}
.header-left{
 width: 30%;
 margin-top: 15px;
 padding: 0 20px 0;
} 
.hedder-button{
    text-decoration: none;
     color: white;
     background-color: tomato;
     padding: 10px 20px;
}  
.header-right{
    float: right;
    width: 70%;
    color: white;
    padding: 0 10px 0;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    padding: 0 15px;
     
}

.bannar-section{
    display: flex;
    
}
.banner-part1 {
    padding: 50px 0 0 0;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-left:30px;
}
.top-banner{
    background-image: url(shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.banner-skip{
    color: orange;
}
.banner-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 18px ;
    color: white;
    font-weight: 400;
    border-radius: 20px;
    font-size: 17px;
}


.banner2-img{
    width: 30%;
}
.about-banner{
     background-image: url(/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.about-baner2{
   padding-top: 150px;
}

.recipi-section {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.recipi-section img{
    width: 100%;
}
#recipi-center{
    text-align: center;
}

.curry-food-section{
    background-image: url(shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 80px;
}
 
#curry-id {
    text-align: center;
    
}
.curry-section img {
  width: 30%;
  padding: 0px 18px;
  margin-bottom: 20px;

}

.social-media-count{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 0 20px 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.count-section {
    padding: 0 85px;
}

.footer-food{
    color: orange;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0;
}
